{% extends "itreporting/base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">

            <h3 class="card-title">Password Reset Successful</h3>
            <p class="card-text">
              Your password has been successfully reset. You can now log in with your new password.
            </p>
            <a href="{% url 'login' %}" class="btn btn-primary">Back to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}